address {
    font-style: normal;
}

.footer-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 0;
    margin-bottom: 9px;
    bottom: 0;
    }

.address-color {
    color: $title-page-color;
}

.mt-color {
    color: rgba(255, 255, 255, 0.6);
}