html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: $font-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primari-text-color;
  background-color: $bg-color; 
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, 
h2, 
h3, 
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-bottom: 94px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
   
}