$primari-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$title-page-color: #FFFFFF;
$bg-color: #E5E5E5;
$bg-dark-color: #2F303A;
$bg-color-blu: #F5F4FA;

$font-roboto: "Roboto", sans-serif;
$font-raleway: "Raleway", sans-serif;
