.bg-color-dark {
    min-height: 600px;

    background-color: $bg-dark-color;
}

.overlay {
    position: relative;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
    to right,    
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/header-img-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-content {
    display: inline-block;
    width: 696px;
    margin-left: 452px;
    margin-right: 452px;
    margin-top: 200px;
}

.page-title {
    color: $title-page-color;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;   

    margin-bottom: 30px;
    margin-top: auto;
 }
